
.img-principal {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
}

.titulo {
    font-weight: 700;
    text-align: center;
    font-size: 29px;
    padding-bottom: 1.5rem;
    font-family: var(--fonte);
    color: var(--cor-principal-letras);
}

p {
    max-width: 18rem;
    font-size: 16px;
    opacity: 90%;
    text-align: center;
    font-family: var(--fonte);
    color: var(--cor-principal-letras);

}

@media screen and (max-width: 550px) {
    .titulo {
        font-size: 35px;
    }

    p {
        font-size: 22px;
        max-width: 22rem;
    }
}